@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor1: rgba(29, 186, 214, 1);
    --cor2: rgba(67, 88, 167, 1);
    --cor3: rgba(60, 132, 172, 1);
    --corfundobranco: rgb(228, 226, 227);
    --corletra: rgba(235, 230, 227, 1);
}
* {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", serif;
}
html, body {
    background-color: rgb(228, 226, 227);
}
header {
    background-color: #1cbbd3;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

#conta{
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    color: var(--corletra);
    cursor: pointer;
    padding: 6px;
}
#conta:hover{
    color: var(--cor2);
    background-color: var(--corfundobranco);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}
menu {
    display: none;
    position: fixed;
    top: 50px;
    right: 10px;
    text-align: right;
    color: var(--cor2);
    border-radius: 6px;
    background-color: var(--corfundobranco);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

}
menu > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: var(--corpreto);
    color: var(--cor2);
    border-top: 1px solid var(--cordestaque1);
    border-bottom: 0.5px solid rgba(67, 89, 167, 0.473);

}
menu ul > li > a:hover {
    color: var(--corletra);
    background-color: #35459c;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 6px;

}


.conteiner_logo {
    background-color: #1cbbd3;
    position: relative;
    height: 60px;
    transition: width 0.5s, height 0.5s;

}

.logo {
    max-width: 30%;
    position: relative;
    padding-top: 10px;
    transition: width 0.5s, height 0.5s;

}
main {
    display: block;
    width: 100vw;
    height: 100vh;
}
#navegador > ul {
    display: block;
    padding: 12px;
    border-bottom: 0.5px solid rgba(67, 89, 167, 0.473);
}
#navegador > ul > li {
    display:  inline-block;
}
#navegador > ul > li > a{
    text-decoration: none; 
    list-style-type: none;
    color: var(--cor2);
    padding: 10px;
    border-radius: 6px;
}
#navegador > ul > li > a:hover{
    color: var(--corletra);
    background-color: #35459c;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.rodape {
    background-color: var(--cor3);
    bottom: 0px;
    position: relative;
    width: 100%;
    height: 6vh;
}

.rodape p {
    padding-top: 10px;
    text-align: center;
    color: #e4e2e3;
}


/*Formulário*/
h1{
    font-size: 20px;
    text-align: center;
    padding: 20px;
}
#abrirFormulario {
    display: block;
    background-color: rgb(70, 85, 166);    color: var(--corletra);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#abrirFormulario:hover {
    background-color: #354496;
}

#formulario {
    display: none;
    position: relative;
    width: 80vw;
    height: 80vh;
    left: 50%;
    transform: translate(-50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-group input, .form-group select, .form-group textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-group textarea {
    resize: vertical;
    height: 50px;
}
.form-group button {
    background-color: rgb(70, 85, 166);    color: var(--corletra);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.form-group button:hover {
    background-color: #354496;
}

@media screen and (min-width: 768px) and (max-width: 992px) { /*TELAS MÉDIAS*/
    .conteiner_logo {
        height: 6em;
    }
    .logo {
        width: 16em;
        top: 5px;
        left: -10px;
    }
}

@media screen and (min-width: 992px) { /*TELAS GRANDES*/
    .conteiner_logo {
        height: 6em;
    }
    .logo {
        width: 20em;
        left: -10px;
    }

}