@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor1: rgba(29, 186, 214, 1);
    --cor2: rgba(67, 88, 167, 1);
    --cor3: rgba(60, 132, 172, 1);
    --corfundobranco: rgb(228, 226, 227);
    --corletra: rgba(235, 230, 227, 1);
}
* {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", serif;
}
html, body {
    background-color: rgb(228, 226, 227);
}
header {
    
    background-color: #1cbbd3;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
#burguer{
    display: block;
    position: absolute;
    text-align: center;
    color: var(--cor2);
    cursor: pointer;
    padding: 6px;
}
#burguer:hover{
    color: var(--corletra);
    background-color: #1cbbd3;
    border-radius: 0px 0px 6px 6px;
}
menu {
    display: none;
    color: var(--corletra);
}
menu > ul {
    list-style-type: none;

}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: var(--corpreto);
    color: var(--corletra);
    text-align: center;
    border-top: var(--cordestaque1);
}
menu ul > li > a:hover {
    color: var(--corletra);
    background-color: rgba(53, 69, 156, 0.549);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.conteiner_logo {
    background-color: #1cbbd3;
    position: relative;
    height: 60px;

}

.logo {
    max-width: 30%;
    position: relative;
    padding-top: 10px;
}

.login {
    display: block;
    position: absolute;
    text-align: center;
    background-color: #4655a6;
    border: 1px solid #4655a6;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 20px;
    width: 30vw;
    top: 10px;
    right: 10px;
    width: 15vw;
    
}
.login a {
    text-decoration: none;
    color: #e4e2e3;

}
.login:hover {
    background-color: #35459c;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.login a:hover {
    color: aliceblue;

}
main {
    display: block;
    width: 100vw;
    height: 86vh;
}
main .conteudo {
    display: block;
    position: relative;
    width: 60vw;
    height: 60vh;
    padding: 40px;
    background-color: rgb(28, 187, 211);
    border-radius: 8px;
    color: var(--corletra);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
main .conteudo > img#logo{
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 20vw;
}
main .conteudo > img#nome{
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 40vw;
    border-bottom: 0.5px solid rgba(67, 89, 167, 0.473);

}
main .conteudo > p{
    font-family: "Montserrat", serif;
    font-size: 20px;
    text-align: justify;
    text-indent: 30px;
}
.rodape {
    background-color: var(--cor3);
    bottom: 0px;
    position: relative;
    width: 100%;
    height: 6vh;
}

.rodape p {
    padding-top: 10px;
    text-align: center;
    color: #e4e2e3;
}

/* telas médias MENU */
@media screen and (min-width: 768px) {
    #burguer {
        display: none;
    }
    menu {
        display: block;
    }
    menu > ul > li {
        display: inline-block;
    }
    menu > ul > li > a{
        border-radius: 6px;
    }
    header {
        padding: 10px;
        
    }

}

@media screen and (min-width: 768px) and (max-width: 992px) { /*TELAS MÉDIAS*/
    #burguer {
        display: none;
    }
    .conteiner_logo {
        height: 4em;
    }
    .logo {
        width: 16.5em;
        top: 5px;
        left: -10px;
    }
    menu {
        padding-top:10px;
        text-align: center;
    }
    .login {
        width: 15vw;
    }
    main {
        height: 70vh;

    }
    main .conteudo {
        width: 60%;
        height: 60%;
    }
    main .conteudo > img#logo{
        width: 10vw;
    }
    main .conteudo > img#nome{
        width: 20vw;
        
    }
    main .conteudo > p{
        font-size: 20px;

    }
}

@media screen and (min-width: 992px) { /*TELAS GRANDES*/
    #burguer {
        display: none;
    }
    .conteiner_logo {
        height: 4em;
    }
    .logo {
        width: 20em;
        left: -10px;
        top: -10px;
    }
    .login {
        width: 15vw;
    }
    .conteiner_logo {
        height: 30px;
        
    }
    menu {
        padding-top:10px;
        text-align: center;
    }
    main {
        height: 70vh;

    }
    main .conteudo {
        width: 60%;
        height: 60%;
    }
    main .conteudo > img#logo{
        width: 8vw;
    }
    main .conteudo > img#nome{
        width: 15vw;
        
    }
    main .conteudo > p{
        font-size: 20px;
        text-align: center;
    }
}