@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --cor1: rgba(29, 186, 214, 1);
    --cor2: rgba(67, 88, 167, 1);
    --cor3: rgba(60, 132, 172, 1);
    --corfundobranco: rgb(228, 226, 227);
    --corletra: rgba(235, 230, 227, 1);
}
* {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", serif;
}
html, body {
    background-color: rgb(228, 226, 227);
}

main {
    display: block;
    width: 100vw;
    height: 100vh;
}
main > section{
    display: block;
    position: relative;
    width: 80vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.5s, height 0.5s;

}
.about > h1, .about > h2, .about > p {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;

}
.about > h1{
    font-size: 24px;
    text-align: center;
    margin-bottom: 0px;
    background-color: rgba(67, 89, 167, 0.781);
    color: var(--corletra);
    text-shadow: 1px 1px 4px black;
}
.about > h2{
    font-size: 18px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
    color: var(--cor2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.452);
}
.about > p {
    text-align: justify;
    padding: 10px;
    font-size: 16px;
    text-indent: 25px;
}
header {
    background-color: #1cbbd3;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
#burguer{
    display: block;
    position: absolute;
    text-align: center;
    color: var(--cor2);
    cursor: pointer;
    padding: 6px;
}
#burguer:hover{
    color: var(--corletra);
    background-color: #1cbbd3;
    border-radius: 0px 0px 6px 6px;
}

menu {
    display: none;
}
menu > ul {
    list-style-type: none;

}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: var(--corpreto);
    color: var(--corletra);
    text-align: center;
    border-top: var(--cordestaque1);
}

menu ul > li > a:hover {
    color: var(--corletra);
    background-color: #35459c;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.conteiner_logo {
    background-color: #1cbbd3;
    position: relative;
    height: 60px;
    transition: width 0.5s, height 0.5s;

}

.logo {
    max-width: 30%;
    position: relative;
    padding-top: 10px;
    transition: width 0.5s, height 0.5s;

}

.login {
    display: block;
    position: absolute;
    text-align: center;
    background-color: rgb(70, 85, 166);
    border: 1px solid rgb(70, 85, 166);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 20px;
    width: 15vw;
    top: 10px;
    right: 10px;
}
.login a {
    text-decoration: none;
    color: #e4e2e3;

}
.login:hover {
    background-color: #35459c;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.login a:hover {
    color: aliceblue;

}
.rodape {
    background-color: var(--cor3);
    bottom: 0px;
    position: relative;
    width: 100%;
    height: 6vh;
}

.rodape p {
    padding-top: 10px;
    text-align: center;
    color: #e4e2e3;
}
/* telas médias MENU */
@media screen and (min-width: 768px) {
    #burguer {
        display: none;
    }
    menu {
        display: block;
    }
    menu > ul > li {
        display: inline-block;
    }
    menu > ul > li > a{
        border-radius: 6px;
    }
    header {
        padding: 10px;
        
    }

} 
@media screen and (min-width: 768px) and (max-width: 992px) { /*TELAS MÉDIAS*/
    #burguer {
        display: none;
    }
    .about {
        top: 40%;
    }
    section.about > h1{
        font-size: 25px;
    }
    .about > h2{
        font-size: 20px;
    }
    .about > p {
        font-size: 16px;
        width: 80%;
    }
    .conteiner_logo {
        height: 4em;
    }
    .logo {
        width: 16em;
        top: 5px;
        left: -10px;

    }
    menu {
        padding-top:10px;
        text-align: center;
    }
    .login {
        width: 15vw;
    }
    main > section{
        top: 40%;
    }
}
@media screen and (min-width: 992px) { /*TELAS GRANDES*/
    #burguer {
        display: none;
    }
    .about {
        top: 30%;
    }
    .about > h1{
        font-size: 25px;
    }
    .about > h2{
        font-size: 20px;
    }
    .about > p {
        font-size: 16px;
        width: 80%;
    }
    .conteiner_logo {
        height: 4em;
    }
    .logo {
        width: 20em;
        top: 5px;
        left: -10px;

    }
    menu {
        padding-top:10px;
        text-align: center;
    }
    .login {
        width: 15vw;
    }
}

