@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor1: rgba(29, 186, 214, 1);
    --cor2: rgba(67, 88, 167, 1);
    --cor3: rgba(60, 132, 172, 1);
    --corfundobranco: rgb(228, 226, 227);
    --corletra: rgba(235, 230, 227, 1);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--corfundobranco);
    height: 100vh;
    width: 100vw;
}

header {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100px;
    background-color: #1cbbd3;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    padding: 10px;
    
}

header .logo {
    display: block;
    width: 50%
}
.conteiner_logo>h1 {
    color: var(--corletra);
    font-family: "Belleza";
    font-size: 20px;
}

.conteiner_logo>h2 {
    color: var(--corletra);
    font-family: "Montserrat";
    font-size: 8px;
}

#burguer {
    display: inline-block;
    position: fixed;
    top: 20px;
    right: 20px;
    text-align: center;
    color: var(--cor2);
    cursor: pointer;
    padding: 10px;
    font-size: 1.5rem;
    background-color: var(--corfundobranco);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    z-index: 1000;
}

#burguer:hover {
    background-color: var(--cor2);
    color: var(--corfundobranco);
}

menu {
    position: fixed;
    top: 64px;
    right: 20px;
    text-align: right;
    padding: 10px;
    background-color: var(--corfundobranco);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

menu>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

menu>ul>li>a {
    display: block;
    padding: 14px 20px;
    text-decoration: none;
    color: var(--cor2);
    font-weight: bold;
    border-radius: 6px;
}

menu ul>li>a:hover {
    color: var(--corfundobranco);
    background-color: var(--cor2);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}

main .conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90vw;
    height: 50vh;
    padding: 40px;
    background-color: rgb(28, 187, 211);
    border-radius: 8px;
    color: var(--corletra);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

}

main .conteudo>img#logo {
    max-width: 20vw;
}

main .conteudo>img#nome {
    display: block;
    position: relative;
    max-width: 40vw;
    border-bottom: 0.5px solid rgba(67, 89, 167, 0.473);

}

main .conteudo>p {
    font-family: "Montserrat", serif;
    font-size: 15px;
    text-align: justify;
    text-indent: 30px;
}

.entrar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4655a6;
    border: 1px solid #4655a6;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 20px;
    width: 100px;
    z-index: 999;
    margin: 10px;
}

.entrar a {
    text-decoration: none;
    color: #e4e2e3;

}

.entrar:hover {
    background-color: #35459c;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.entrar a:hover {
    color: aliceblue;

}

.botoes {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

footer {
    position: fixed;
    width: 100%;
    height: 6vh;
    background-color: var(--cor3);
    bottom: 0px;
}

.rodape p {
    padding-top: 10px;
    text-align: center;
    color: #e4e2e3;
}

/*RESPONSIVIDADE*/

@media screen and (min-width: 768px) and (max-width: 992px) {

    /*TELAS MÉDIAS*/
    #burguer {
        display: none;
    }

    header {
        padding: 10px;

    }

    .logo {
        margin-top: 0px;
        max-width: 20vw;
    }

    menu {
        display: block;
        position: absolute;
        text-align: center;
        top: 86px;
        left: 0px;
        width: 100vw;
        border-radius: 0px;
        background-color: transparent;
        box-shadow: none;
        z-index: 998;
    }

    menu>ul>li {
        display: inline-block;
    }

    menu>ul>li>a {
        border-radius: 6px;
        border: 0px;
    }

    .entrar { 
        width: 200px;
    }
    main {
        height: 100vh;

    }

    main .conteudo>img#logo {
        max-width: 20vw;
    }

    main .conteudo>img#nome {
        max-width: 30vw;

    }

    main .conteudo>p {
        font-size: 20px;

    }
}

@media screen and (min-width: 992px) {

    /*TELAS GRANDES*/

    #burguer {
        display: none;
    }

    header {
        
    }

    .logo {
        margin-top: 0px;
        max-width: 20vw;
    }

    .entrar { 
        height: 50px;
        width: 200px;
    }

    .conteiner_logo {
        height: 30px;

    }

    menu {
        display: block;
        position: absolute;
        text-align: center;
        top: 86px;
        left: 0px;
        width: 100vw;
        border-radius: 0px;
        background-color: transparent;
        box-shadow: none;
        z-index: 998;

    }

    menu>ul>li {
        display: inline-block;
    }

    menu>ul>li>a {
        border-radius: 6px;
        border: 0px;
    }

    main {
        height: 100vh;

    }

    main .conteudo {
        width: 80vw;
        height: 60vh;
    }

    main .conteudo>img#logo {
        max-width: 100px;
    }

    main .conteudo>img#nome {
        max-width: 100px;

    }

    main .conteudo>p {
        font-size: 22px;
        text-align: center;
    }
}

@media (min-width: 2560px) {
    /*Telas Maiores*/
    *{
            font-size: 30px;
    }

    .logo {
        max-width: 400px;
    }
    main .conteudo>img#logo {
        
    }

    main .conteudo>img#nome {
        

    }

    main .conteudo>p {
        font-size: 40px;
        text-align: center;
    }
    .entrar { 
        height: 70px;
        width: 260px;
    }
}