@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor1: rgba(29, 186, 214, 1);
    --cor2: rgba(67, 88, 167, 1);
    --cor3: rgba(60, 132, 172, 1);
    --corfundobranco: rgb(228, 226, 227);
    --corletra: rgba(235, 230, 227, 1);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--corfundobranco);
    width: 100vw;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 100px;
    background-color: var(--cor1);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    padding: 10px;

}

header .logo {
    width: 10%;
}

.conteiner_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteiner_logo>h1 {
    color: var(--corletra);
    font-family: "Belleza";
    font-size: 20px;
}

.conteiner_logo>h2 {
    color: var(--corletra);
    font-family: "Montserrat";
    font-size: 8px;
}

.entrar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor2);
    border: 1px solid var(--cor2);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 20px;
    width: 100px;
    z-index: 999;
}

.entrar a {
    text-decoration: none;
    color: #e4e2e3;

}

.entrar:hover {
    background-color: #35459c;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#burguer {
    display: inline-block;
    position: absolute;
    text-align: center;
    color: var(--cor2);
    cursor: pointer;
    padding: 3px;
    z-index: 999;
}

#burguer:hover {
    color: var(--cor2);
    background-color: var(--corfundobranco);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}

menu {
    text-align: right;
    padding: 10px;
    border-radius: 6px;
    background-color: rgba(30, 32, 34, 0.658);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

menu>ul {
    list-style-type: none;
    margin: 0;
}

menu>ul>li>a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: var(--cor2);
    border-top: 1px solid var(--cordestaque1);
    border-bottom: 0.5px solid rgba(67, 89, 167, 0.473);
}

menu ul>li>a:hover {
    color: var(--corletra);
    background-color: #35459c;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.about {
    display: flex;
    flex-direction: column;
    width: 80vw;
}

.aboutTitulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--cor2);
    border-radius: 20px 20px 0 0 ;
    padding: 20px;
    width: 80vw;
}

.aboutCont {
    padding: 20px;
    border: 4px solid var(--cor2);
    border-radius: 0 0 20px 20px ;
}

.aboutTitulo>h1 {
    font-size: 50px;
    text-align: center;
    color: var(--corletra);
    text-shadow: 1px 1px 4px black;
    margin-bottom: 20px;
}

.aboutTitulo>h2 {
    font-size: 18px;
    text-align: center;
    color: var(--corletra);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.452);
}

.aboutCont>p {
    text-align: justify;
    padding: 10px;
    font-size: 16px;
    text-indent: 25px;
}

footer {
    width: 100vw;
    height: 6vh;
    background-color: var(--cor3);
}


.rodape p {
    padding-top: 10px;
    text-align: center;
    color: #e4e2e3;
}

@media screen and (min-width: 768px) and (max-width: 992px) {

    /*TELAS MÉDIAS*/
    header {
        padding: 10px;

    }

    .logo {
        margin-top: 0px;
        width: 60px;
    }

    .conteiner_logo>h1 {
        font-size: 25px;
    }

    .conteiner_logo>h2 {
        font-size: 10px;
    }

    #burguer {
        display: none;
    }

    menu {
        display: block;
        position: absolute;
        text-align: center;
        top: 86px;
        left: 0px;
        width: 100vw;
        border-radius: 0px;
        background-color: transparent;
        box-shadow: none;
    }

    menu>ul>li {
        display: inline-block;
    }

    menu>ul>li>a {
        border-radius: 6px;
        border: 0px;
    }

    .about {
        flex-direction: column;
        
    }
    .aboutTitulo {
        border-radius: 20px 20px 0 0;
        width: 80vw;
    }
    
    .aboutCont {
        border-radius: 0 0 20px 20px;
    }
    .aboutTitulo>h1 {
        font-size: 25px;
    }

    .aboutTitulo>h2 {
        font-size: 20px;
    }

    .aboutCont>p {
        font-size: 16px;
        width: 80%;
    }

    .login {
        width: 15vw;
    }

}

@media screen and (min-width: 992px) {

    /*TELAS GRANDES*/
    #burguer {
        display: none;
    }

    header {
        padding: 10px;

    }

    .logo {
        margin-top: 0px;
        width: 30px;
    }

    .conteiner_logo>h1 {
        font-size: 25px;
    }

    .conteiner_logo>h2 {
        font-size: 10px;
    }

    menu {
        display: block;
        position: absolute;
        text-align: center;
        top: 86px;
        left: 0px;
        width: 100vw;
        border-radius: 0px;
        background-color: transparent;
        box-shadow: none;
    }

    menu>ul>li {
        display: inline-block;
    }

    menu>ul>li>a {
        border-radius: 6px;
        border: 0px;
    }

    header {
        padding: 10px;

    }

    .about {
        flex-direction: row;
    }
    .aboutTitulo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--cor2);
        border-radius: 20px 0 0 20px;
        padding: 20px;
        width: 60vw;
    }
    
    .aboutCont {
        padding: 20px;
        border: 4px solid var(--cor2);
        border-radius: 0 20px 20px 0;
    }
    .aboutTitulo>h1 {
        font-size: 25px;
    }

    .aboutTitulo>h2 {
        font-size: 20px;
    }

    .aboutCont>p {
        font-size: 16px;
        width: 80%;
    }

    .login {
        width: 15vw;
    }

}