.login {
    text-align: center;
    background-color: black;
    color: aliceblue;
    padding: 6px;
    width: 3em;
    position: absolute;
    right: 20px;
    margin-top: -5em;
    border-radius: 3px;
}
.login a {
    text-decoration: none;
    color: aliceblue;
}
.login a:visited {
    color: aqua;
}
h1 {
    margin-bottom: 1%;
}
h2 {
    font-size: small;
    margin-bottom: 20px;
}
footer p {
    position: absolute;
    margin-bottom: 4px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); /* Ajuste para centralizar completamente */
}
